.body_lista
{
    background-color:black;
    display:grid;
    font-family:Arial, Helvetica, sans-serif;
    grid-template-areas:
        "cabecalho"
        "conteudo"
        "rodape";
    grid-template-columns:auto;
    grid-template-rows:50px 100vh auto auto;
}
.cabecalho
{
    grid-area:cabecalho;
}
.conteudo
{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    height: calc(100vh - 50px);
    background-color:white;
    grid-area:conteudo;
}
.rodape
{
    grid-area:rodape;
}