@media screen and (max-width:768px)
{
    .gridum
    {
        width: 700px;
        flex-wrap: wrap;
    }
    .griddois{
        width: 700px;
        flex-wrap: wrap;
    }
    .gridtres
    {
        width: 700px;
        flex-wrap: wrap;
    }
}